*,

*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html{
	font-family: "Nunito", sans-serif;
	font-size: 10px;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}
ul{
	list-style: none;
}
p{
	font-size: 1.6rem;
}

img{
	width: 100%;
	max-width: 100%;
	height: auto;
}
section{
	padding: 5rem 0;
}

body{
	background-color: black;
}

header{
	width: 100%;
	height: 5rem;
	
}

.container{
	width: 100%;
	max-width: 98rem;
	margin: 0 auto;
	padding: 0 1.5rem;
}

nav{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
	border-bottom: 1px solid rgba(255,255,255,.2);
}

.nav-brand{
	width: 2rem;
}
.menu-icons{
	font-size: 3.5rem;
	color: #fafafa;
	cursor: pointer;
}
.close i{
	color: #eb648c;
}

.nav-list{
	width: 25rem;
	height: 100vh;
	background-color: #d7d4ed;
	position: fixed;
	top: 0;
	right: -26rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1500;
	transition: all 650ms ease-in-out;
}

.nav-list.active{
	right: 0;
}

.close{
	position: absolute;
	top: 1rem;
	left: 1.5rem;
}
.nav-item{
	margin: 1.5rem 0;
}
.nav-link{
	font-size: 1.6rem;
	text-transform: uppercase;
	color: rgba(0,0,0,.7);
}